<header id="header" class="pure-u-1">
  <!-- <div id="logo"></div> -->
  <nav id="nav">
    <ul>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
    </ul>
  </nav>
</header>
