<section>
<p>
<%= @user.name %>
<%= @user.username %>

</p>
  <ul>
    <li><a href="/<%= @user.username %>">Get your recent tweets</a></li>
    <li><a href="">Edit you Profile</a></li>
    <li><a href="">Write a tweet</a></li>
  </ul>
</section>
