<section>
<p>
<%= @current_user.firstname %>
<%= @current_user.lastname %>
<%= @current_user.username %>
</p>
  <ul>
    <li><a href="/post/newpost">Write a Post</a></li>
    <li><a href="">View you Posts</a></li>
    <li><a href="">View Comments</a></li>
    <li><a href="">Edit you Profile</a></li>
    <li><a href=""></a></li>
  </ul>
</section>
