<section id="register-user">
  <h3>Register</h3>

    <div class="error-alert">
      <% @errors %>
    </div>

    <form class="pure-form" method="POST" action="/user/register">
      <fieldset class="pure-group ">

      <label for="name">
        <input id="name" type="text" name="user[name]" required placeholder="name"/>
      </label>

      <label for="username">
        <input id="username" type="text" name="user[username]" required placeholder="Username"/>
      </label>
    </fieldset>

    <button id="register" class="pure-button-primary pure-button" type="submit" value="register">Register</button>
  </form>

</section>
