<section>

  <h2>Twitter</h2>
  <h2>Landing Page</h2>

    <form class="pure-form" id="login-form" action="/user/login" method="POST">
      <label for="name">
        <input id="name" type="text" placeholder="Sign in.." name="user[name]" autofocus required>
      </label><br>
      <button id="sign-in" class="pure-button-xsmall pure-button-primary pure-button" value="Sign In">Sign In</button>
    </form>

  <div id="sign-up">
    <p>Not a member? <a href="/user/register">Sign Up!</a></p>
  </div>

</section>


